@import "../Layout/variables.scss";

@mixin formItemBorder {
  border: 1px solid rgba(189, 195, 199, 1);
  border-radius: 4px;
}

@mixin formItemFocused {
  border-color: $maroon !important;
}

@mixin formItemSelected {
  background-color: $maroon !important;
}
