.container {
  display: grid;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d";
  grid-row-gap: 60px;
}

.standalone {
  grid-area: a;
}

.form {
  grid-area: b;
}

.formBuilder {
  grid-area: c;
}

.formBuilderLarge {
  grid-area: d;
}
