.github {
  border-radius: 50%;
  position: fixed;
  top: 20px;
  right: 20px;
}

.gitlab {
  border-radius: 50%;
  position: fixed;
  top: 20px;
  right: 70px;
}

.icon {
  font-size: 30px;
  color: white;
}

.container {
  display: grid;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d";
  grid-row-gap: 60px;
}

.standalone {
  grid-area: a;
}

.form {
  grid-area: b;
}

.formBuilder {
  grid-area: c;
}

.formBuilderLarge {
  grid-area: d;
}
